<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="emp_name">Emloyee Name</label>
        <input type="text" name="emp_name"><br>
        <label for="emp_contact">Emloyee Contact</label>
        <input type="text" name="emp_contact"><br>
        <label for="emp_add">Emloyee Address</label>
        <input type="text" name="emp_add"><br>
        <button type="submit">submit</button>
        
    </form>
</body>
</html> 